<!DOCTYPE html>
<!-- layout:decorate：どのレイアウトにこのHTMLを組み込むかを指定する -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
</head>
<body>
	<nav th:fragment="header"
		class="navbar navbar-expand-lg navbar-light bg-dark fixed-top fs-4" style="height: 100px">
		<div class="container-fluid">
			<a class="navbar-brand fa fa-house text-white" th:href="@{/}"> Home</a>
			<!-- ハンバーガーメニューの表示設定 -->
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- collpase:画面が小さくなるとハンバーガーメニュー -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<!-- me-autoを利用してulタグを両端に配置 -->
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link text-white" th:href="@{#}">Service</a></li>
					<li class="nav-item"><a class="nav-link text-white" th:href="@{#}">Comapany</a></li>
					<li class="nav-item"><a class="nav-link text-white" th:href="@{#}">Access</a></li>
				</ul>
				<ul class="navbar-nav align-items-center">
					<li class="nav-item align-middle  text-white">こんにちは〇〇さん</li>
					<li class="nav-item">
						<a class="nav-link text-white"> 
							<img th:src="@{#}" alt="アイコン画像" th:width="50px" th:height="50px">
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/logout}" class="nav-link text-white">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>